.social-contact{
    display: flex;
    justify-content: center;
    align-item: center;
}

.social-icon-div{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
    
}

.social-icon{
    height: 50px;
    opacity: 1;
    transition: 0.3s;
}

.social-icon:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 720px){
    .social-icon{
        height: 32px;
    }
}