.header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
    
}

.menu{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon{
    font-size: 24px;

}

.mobile-menu{
    display: none;
}

.web-menu{
    display: flex;
}

.logo{
    display: felx;
    color: #7900FF;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Major Mono Display', monospace;
}

@media only screen and (max-width: 720px){
    .mobile-menu{
        display: flex;
    }

    .web-menu{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
}